@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;700&display=swap');
body{
  font-family: 'Kanit', sans-serif;
}
.Layout{
  padding: 0 120px;
  display: block;
}
* {
  margin: 0;
}
.Nvidia-header {
  width: 100%;
  height: 44px;
  padding: 0 100px;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.mn1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.mn2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.manu1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.manu1 p {
  color: #666;
  padding: 4px 5px 0;  
  font-size: 16px;
  font-weight: 300;
}
.manu1 p:hover {
  color: black;
}
.manu2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.manu2 p {
  color: #666;
  padding: 4px 5px 0;
  font-size: 16px;
  font-weight: 300;
}
.manu2 p:hover {
  color: black;
}

.Nvidia-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.Profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.navbar-fixed-top {
  width: 100%;
  font-size: 22px;
  font-weight: 100;
  height: 56px;
  padding: 0 38px;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  top: 44px;
  justify-content: space-between;
  padding: 0 80px;
  background-color: #080808;
  border-color: #080808;
}

.navbar-fixed-top h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 300;
  color: white;
  padding: 0 40px;
}
section {
  display: flex;
  flex-direction: column;
  padding: 30px 0;

}
section div h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.main-box-1 {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.box-1-1 {
  width: auto;
  height: auto;
  padding: 0;
  background-color: whitesmoke;
  box-shadow: 0 0 5px 2px rgb(0 0 0/0.2);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.img-box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-box-1 img {
  width: 100%;
}
.P-box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.P-box-1 h3 {
  min-height: 70px;
  padding: 10px;
  font-size: 19px;
  text-align: center;
  text-decoration-line: none;
}
.P-box-1 a{
  text-decoration-line: none;
  color: black;
}
.link-box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-box-1 a {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  text-decoration-line: none;
  color: black;
}

.link-box-1 a:hover {
  color: green;
}

header {
  position: sticky;
  top: 0;
}

.box-1-1:hover {
  box-shadow: 0 0 10px 5px rgb(0 0 0/0.2);
}