@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;700&display=swap");
body {
  font-family: "Kanit", sans-serif;
  width: 100%;
}

.Layout {
  width: auto;
  padding: 0 60px;
  display: block;
}
* {
  margin: 0;
}
.Nvidia-header {
  padding: 0 60px;
  background-color: white;
  display: flex;
}
.manu-all {
  width: 100%;
  height: 44px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.mn1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.mn2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.manu1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.manu1 p {
  color: #666;
  padding: 4px 5px 0;
  font-size: 14px;
  font-weight: 300;
}
.manu1 p:hover {
  color: black;
}
.manu2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.manu2 p {
  color: #666;
  padding: 4px 5px 0;
  font-size: 14px;
  font-weight: 300;
}
.manu2 p:hover {
  color: black;
}

.Nvidia-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.logo-Use {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.navbar-fixed-top {
  width: auto;
  font-size: 22px;
  font-weight: 100;
  height: 56px;
  padding: 0 30px;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  top: 44px;
  background-color: #080808;
  border-color: #080808;
}

.navbar-fixed-top h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 300;
  color: white;
  padding: 0 40px;
}
section {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}
section div h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.main-box-1 {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.box-1-1 {
  width: auto;
  height: auto;
  padding: 0;
  background-color: whitesmoke;
  box-shadow: 0 0 5px 2px rgb(0 0 0/0.2);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.img-box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-box-1 img {
  width: 100%;
}
.P-box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.P-box-1 h3 {
  min-height: 70px;
  padding: 10px;
  font-size: 19px;
  text-align: center;
  text-decoration-line: none;
}
.P-box-1 a {
  text-decoration-line: none;
  color: black;
}
.link-box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-box-1 a {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  text-decoration-line: none;
  color: black;
}

.link-box-1 a:hover {
  color: green;
}

header {
  position: sticky;
  top: 0;
}

.box-1-1:hover {
  box-shadow: 0 0 10px 5px rgb(0 0 0/0.2);
}
.hamburger-icon {
  display: none;
  position: relative;
}

@media (max-width: 1080px) {
  .main-box-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: 748px) {
  .main-box-1 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .hamburger-icon {
    display: flex;
  }
  .Layout {
    min-width: 400px;
  }
  .manu1 {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .manu2 {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .logo-Use {
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }
}
